@use './partials/mixins' as *;
@use './partials/fonts' as *;
@use './partials/reset' as *;
@use './partials/variables' as *;
@use '../components/Header/header' as *;
@use '../components/MainVideo/mainVideo' as *;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir Next;
}
