@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.main {
  @include tablet {
    background-color: black;
  }

  @include desktop {
    width: 78rem;
  }

  &__video {
    width: 100vw;
    height: 11.5rem;
    object-fit: cover;

    @include tablet {
      width: 90vw;
      margin: 0 5vw;
      height: 25rem;
    }

    @include desktop {
      width: 70vw;
      height: 33.75rem;
      margin: 0 15vw;
    }
  }
}
